/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
  margin-bottom: 15px;
  text-align: center;
}


section{
  float: left;
  width: 29%;
  margin: 10px;
  padding: 20px;
  position: relative;
  top:  60px;
}



.content {
  background-color: lightseagreen;
  border: 5px solid black;
  font-family: Garamond, "Times New Roman", serif;
}

h2 {
  background: lightcyan;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  width: fit-content;
  position: relative;
}


@media (min-width: 992px) {

}  

@media (min-width: 768px) and (max-width: 991px) {

  #second, #first{
    width: 45%; 
  }


  #third{
    clear: both;
    width: 100%;
  }


}



@media (max-width:  767px) {

  section {
    clear: both;
    width: 100%;
  }


}