/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  background: lightcoral;
  margin-bottom: 15px;
  text-align: center;
}

section.content {
  /*width: 33%;*/
  float: left;
  border: 20px solid yellow;
  background-color: lightgreen;
  padding: 10px;
}

section.title {
  background-color: lightcoral;
  border: 5px solid yellow;
  padding: 10px;
  position: relative;
  left:  500px;
  top: 30;
}



/********** Desktop devices only ********
**/
@media (min-width: 992px) {

#third, #second, #first{
    width: 33%;
  }
  .title{
    width:30%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {

  #second,  #first{
    width: 33%;
  }

  #third{
    clear: both;
  }
  .title{
    width:30%;
  }
}


@media (max-width: 767px){

  #third#second#first{
   clear: both;
  }

  .title{
    width:30%;
  }

}
